<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.farhanaliofficial.jsrun">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
		android:name=".views.App"
        android:resizeableActivity="false">
        
        <activity
            android:name=".activity.RunActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.CrashActivity"
            android:label="@string/crash_log"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"/>
        
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
				<action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
      
      <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>

    </application>
	
</manifest>
